# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer,
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
venv/
.venv
db.sqlite3


# 1 view
@api_view(['GET', 'POST'])
# def product_list_api_view(request):
#     if request.method == 'GET':
#         product = Product.objects.prefetch_related('category', 'reviews').all()
#         data = ProductListSerializer(product, many=True).data
#         return Response(data=data)
#     elif request.method == 'POST':
#         serializer = ProductValidateSerializer(data=request.data)
#         if not serializer.is_valid():
#             return Response(status=status.HTTP_400_BAD_REQUEST,
#                             data=serializer.errors)
#         title = serializer.validated_data.get('title')
#         description = serializer.validated_data.get('description')
#         price = serializer.validated_data.get('price')
#         category_id = serializer.validated_data.get('category_id')


#     with transaction.atomic():
#         product = Product.objects.create(
#             title=title,
#             description=description,
#             price=price,
#             category_id=category_id
#         )
#         return Response(status=status.HTTP_201_CREATED,
#                         data=ProductDetailSerializer(product).data)

# 2 view
@api_view(['GET', 'PUT', 'DELETE'])
# def product_detail_api_view(request, id):
#     try:
#         product = Product.objects.get(id=id)
#     except:
#         return Response(status=status.HTTP_404_NOT_FOUND)
#     if request.method == 'GET':
#         data = ProductDetailSerializer(product, many=False).data
#         return Response(data=data)
#     elif request.method == 'DELETE':
#         product.delete()
#         return Response (status=status.HTTP_204_NO_CONTENT)
#     elif request.method == 'PUT':
#         serializer = ProductValidateSerializer(data=request.data)
#         if not serializer.is_valid():
#             return Response(status=status.HTTP_400_BAD_REQUEST,
#                             data=serializer.errors)
#         product.title = serializer.validated_data.get('title')
#         product.description = serializer.validated_data.get('description')
#         product.price = serializer.validated_data.get('price')
#         product.category_id = serializer.validated_data.get('category_id')
#         product.save()
#         return Response(status=status.HTTP_200_OK, 
#                         data=ProductDetailSerializer(product).data)

# 3 view
@api_view(['GET', 'POST'])
# def category_list_api_view(request):
#     if request.method == 'GET':
#         category = Category.objects.all()
#         data = CategoryListSerializer(category, many=True).data
#         return Response(data=data)
#     elif request.method == 'POST':
#         serializer = CategoryValidateSerializer(data=request.data)
#         serializer.is_valid(raise_exception=True)
#         name = serializer.validated_data.get('name')

#     category = Category.objects.create(
#         name = name
#     )
#     return Response (status=status.HTTP_201_CREATED,
#                      data=CategoryDetailSerializer(category).data)

# 4 view
# @api_view(['GET', 'DELETE', 'PUT'])
# def category_detail_api_view(request, id):
#     try:
#         category = Category.objects.get(id=id)
#     except:
#         return Response(status=status.HTTP_404_NOT_FOUND)
#     if request.method == 'GET':
#         data = CategoryDetailSerializer(category, many=False).data
#         return Response(data=data)
#     if request.method == 'DELETE':
#         category.delete()
#         return Response (status=status.HTTP_204_NO_CONTENT)
#     elif request.method == 'PUT':
#         serializer = CategoryValidateSerializer(data=request.data)
#         serializer.is_valid(raise_exception=True)
#         category.name = request.data.get('name')
#         category.save()
#         return Response (status=status.HTTP_200_OK,
#                          data=CategoryDetailSerializer(category).data)

# 5 view
# @api_view(['GET', 'POST'])
# def review_list_api_view(request):
#     if request.method == 'GET':
#         review = Review.objects.all()
#         data = ReviewListSerializer(review, many=True).data
#         return Response(data=data)
#     elif request.method == 'POST':
#         serializer = ReviewValidateSerializer(data=request.data)
#         serializer.is_valid(raise_exception=True)
        
#         text = request.data.get('text')
#         stars = request.data.get('stars')
#         product_id = request.data.get('product_id')
#     review = Review.objects.create(
#         text = text,
#         stars =stars,
#         product_id=product_id
#     )    
#     return Response(status=status.HTTP_201_CREATED,
#                     data=ReviewDetailSerializer(review).data)


# 6 view
# @api_view(['GET', 'DELETE', 'PUT'])
# def review_detail_api_view(request, id):
#     try:
#         review = Review.objects.get(id=id)
#     except:
#         return Response(status=status.HTTP_404_NOT_FOUND)
#     if request.method == 'GET':
#         data = ReviewDetailSerializer(review, many=False).data
#         return Response(data=data)
#     if request.method == 'DELETE':
#         review.delete()
#         return Response(status=status.HTTP_204_NO_CONTENT)
#     if request.method == 'PUT':
#         serializer = ReviewValidateSerializer(data=request.data)
#         serializer.is_valid(raise_exception=True)

#         review.text = request.data.get('text')
#         review.stars = request.data.get('stars')
#         review.product_id = request.data.get('product_id')
#         review.save()
#         return Response(status=status.HTTP_200_OK,
#                         data=ReviewDetailSerializer(review).data)
        
# 7 view
# @api_view(['GET'])
# def product_reviews_view(request):
#     products = Product.objects.prefetch_related('reviews')
#     serializer = ProductListSerializer(products, many=True)
#     return Response(serializer.data)